body {
  background-image: url("/public/BanersArtesVirtuales/BackGroundImage.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.proyectos article button {
  background-color: #004aad;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.proyectos article button:hover {
  background-color: #003080;
}

.hidden-text {
  display: none;
}

.project-description.expanded .hidden-text {
  display: inline;
}


