.equipo-section {
  background-image: url("/BanersArtesVirtuales/BackGroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.hidden-text {
  display: none;
}

.project-description.expanded .hidden-text {
  display: inline;
}
