.carousel-content {
    transition: translateX 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  /* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #D1E0EB;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

header .hamburger {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 50%;
}

header .navbar img {
  height: 50px;
}

header .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header .nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .nav-links a:hover {
  text-decoration: underline;
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer-content div {
  flex: 1 1 200px;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin: 0.5rem 0;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-content .social-media a img {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  cursor: pointer;
}

.footer-content .social-media a img:hover {
  filter: brightness(1.2);
}

footer p {
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  header .nav-links {
      flex-direction: column;
      gap: 0.5rem;
  }

  .footer-content {
      flex-direction: column;
      align-items: center;
  }
}


