<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo/logoEnNegroJB.png"/>
    <title>Equipo</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="hamburger" id="hamburgerButton">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="navbar">
            <img src="images/logo.png" alt="Logo Artes Virtuales">
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="equipo.html">Equipo</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <main class="equipo-section">
        <section class="presentacion-equipo">
            <article>
                <h1>Presentación</h1>
                <video src="/public/CuellarMauricioAbel.mp4" autoplay poster="posterimage.jpg" controls>
                    Tu navegador no admite el elemento <code>video</code>.
                </video>
                <h2>Desarrollador Frontend</h2>
            </article>
        </section>

        <section class="proyectos">
            <h2>Trabajos/Proyectos</h2>
            <article>
                <img src="images/trabajo1.jpg" alt="imagen de trabajo realizado">
                <p>Descripción del trabajo realizado</p>
                <button>Ver Proyecto</button>
            </article>
            <article>
                <img src="images/trabajo2.jpg" alt="imagen de trabajo realizado">
                <p>Descripción del trabajo realizado</p>
                <button>Ver Proyecto</button>
            </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="mapa-sitio">
                <h3>Mapa del sitio</h3>
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="social-media">
                <h3>Síguenos</h3>
                <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="images/whatsapp.png" alt="WhatsApp"></a>
            </div>
        </div>
        <p>© 2024 Artes Virtuales - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
