<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/public/ArtesVirtualesLogos/Logo.png" />
    <title>Equipo</title>
    <link rel="stylesheet" href="/src/styles/index.css">
</head>
<body>
    <header>
      <div class="hamburger" id="hamburgerButton">
        <i class="fas fa-bars"></i>
    </div>
    <img src="/public/ArtesVirtualesLogos/logo.png" alt="Logo Artes Virtuales">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="equipo.html">Equipo</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <main class="equipo-section">
        <section class="presentacion-equipo">
            <article>
                <h1>Presentación</h1>
                <h1>Cuellar Mauricio Abel</h1>
                <video src="/public/CuellarMauricioAbel.mp4" autoplay poster="posterimage.jpg" controls>
                    Tu navegador no admite el elemento <code>video</code>.
                </video>
                <h2>Project maneger</h2>
            </article>
        </section>

        <section class="proyectos">
            <h2>Trabajos/Proyectos</h2>
            <article>
              <img src="/public/BanersArtesVirtuales/fotoDeTrabajoJB.png" alt="imagen de trabajo realizado">
              <h3>Creación del sitio JB Industrial Group</h3>
              <p class="project-description">
                  Este proyecto fue desarrollado en colaboración con Arte Virtuales, trabajando en conjunto para satisfacer las 
                  necesidades de un cliente del sector de ropa industrial que requería el diseño y desarrollo de una landing page 
                  profesional para su emprendimiento.
                  <span class="hidden-text">
                      Para el diseño inicial, utilizamos Figma, asegurando una interfaz visualmente atractiva y funcional, 
                      adaptada a los requerimientos del cliente. En la fase de desarrollo, implementamos el framework Astro, 
                      lo que nos permitió crear un sitio web optimizado con una estructura sólida basada en HTML5. 
                      Participé tanto en tareas de frontend como de backend, garantizando una integración eficiente entre diseño y 
                      funcionalidad. El proyecto tuvo una duración de dos meses, desarrollándose entre agosto y septiembre. 
                      Finalmente, publicamos el sitio en un dominio adquirido y configurado mediante Hostinger, 
                      proporcionando al cliente un producto final accesible, profesional y listo para representar su marca en línea.
                  </span>
              </p>
              <button class="toggle-btn">Ver más</button>
              <button>
                <a href="https://www.jbindustrialgroup.com/">Ver Proyecto</a>
              </button>
          </article>
          <article>
            <img src="/public/BanersArtesVirtuales/fotoDeTrabajoJB.png" alt="imagen de trabajo realizado">
            <h3>Creación del sitio JB Industrial Group</h3>
            <p class="project-description">
                Este proyecto fue desarrollado en colaboración con Arte Virtuales, trabajando en conjunto para satisfacer las 
                necesidades de un cliente del sector de ropa industrial que requería el diseño y desarrollo de una landing page 
                profesional para su emprendimiento.
                <span class="hidden-text">
                    Para el diseño inicial, utilizamos Figma, asegurando una interfaz visualmente atractiva y funcional, 
                    adaptada a los requerimientos del cliente. En la fase de desarrollo, implementamos el framework Astro, 
                    lo que nos permitió crear un sitio web optimizado con una estructura sólida basada en HTML5. 
                    Participé tanto en tareas de frontend como de backend, garantizando una integración eficiente entre diseño y 
                    funcionalidad. El proyecto tuvo una duración de dos meses, desarrollándose entre agosto y septiembre. 
                    Finalmente, publicamos el sitio en un dominio adquirido y configurado mediante Hostinger, 
                    proporcionando al cliente un producto final accesible, profesional y listo para representar su marca en línea.
                </span>
            </p>
            <button class="toggle-btn">Ver más</button>
            <button>
              <a href="https://www.jbindustrialgroup.com/">Ver Proyecto</a>
            </button>
        </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="mapa-sitio">
                <h3>Mapa del sitio</h3>
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="social-media">
                <h3>Síguenos</h3>
                <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="images/whatsapp.png" alt="WhatsApp"></a>
            </div>
        </div>
        <p>© 2024 Artes Virtuales - Todos los derechos reservados.</p>
    </footer>
</body>
<script src="/src/utils/equipo.js"></script>
</html>
